# Virtual environment
venv/
__pycache__/
*.pyc

# Database & Uploads
sindi.db
uploads/

# IDE
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

style copy.html
base copy.html
seed_kabupaten.py
bulk_create_mdt.py
update_pengajuan_table.py